@import url('https://fonts.googleapis.com/css?family=Adamina|Chonburi|Libre+Baskerville|Montserrat|Paytone+One&display=swap');

/* navigation style starts from here*//********//* navigation style starts from here*/

/*main navigation style control*/
.navbar-top {
    border-bottom: 2px solid rgba(12,109,97,0.9);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 999;
    background-color: white;
}

#navlogo {
    float: left;
    padding: 4px;
    margin-left: 12px;
    margin-top: 6px; 
}

#navbar-grid {
    display: flex;
    align-content: center;
}

#navbar-grid ul{
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
    color: white;
    display: flex;
    justify-content: flex-end;
}

#navbar-grid ul li{
    display: inline-block;
    float: left;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 1.3em;
}

#navbar-grid ul li a{
    display: inline-block;
    text-decoration: none;
    color: rgba(12,109,97,1.0);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

#navbar-grid ul li a:hover{
    border-bottom: 3px solid rgba(12,109,97,0.9);
    transition: 0.1s;
    width: auto;
}


#navbar-grid ul li:not(first-child) {
    margin-left: 38px;
}

#navbar-grid ul li:last-child {
    margin-right: 50px;
}
